<div style="background-color: #877EB4" class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table style="color: black" class="uk-table">
    <caption style="color: black">
      Pubs of Interest submitted to date:
    </caption>
    <thead>
      <th style="color: black">Name</th>
      <th style="color: black">Location</th>
      <th style="color: black">Image</th>
      <th style="color: black">Category</th>
      <th style="color: black">Submitter</th>
      <th style="color: black">Delete</th>
      <th style="color: black">Update</th>
    </thead>
    <tbody class="uk-text-left">
      {{#each pois}}
        <tr>
          <td>{{name}}</td>
          <td>{{location}}</td>
          <td>{{image}}</td>
          <td>{{category.county}} {{category.province}}</td>
          <td>{{submitter.firstName}} {{submitter.lastName}}</td>
          <td><a href="/deletepoi/{{_id}}"><i class="fas fa-trash fa-2x" style="color:#653DC2"></i></a></td>
          <td><a href="/showpoi/{{_id}}"><i class="fas fa-recycle fa-2x" style="color:#653DC2"></i></a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
